* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: times;
    color: hsl(240, 1%, 25%);
}

.header-title {
    margin: 0;
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.header-subtitle {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    padding: 1rem 2rem;
}

.link-list {
    display: flex;
    list-style: none;
    
}

.link-list a {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    margin: .5rem 1.5rem;
}

.link-list a:hover {
    border-bottom: 3px solid hsl(240, 1%, 55%);
    border-radius: .1rem;
}

.temples-watercolor {
    width: 1200px;
    height: 600px;
}

.section {
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
    line-height: 1.5;
    margin: 2rem;
    max-width: 500px;
}

.info-title {
    margin: 0;
    margin-top: 1.5rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.intro-title {
    margin-top: 2rem;
    max-width: 400px;
}

.intro-subtitle {
    max-width: 550px;
}

.intro-subtitle a,
.current-page{
    text-decoration: none;
    color: inherit;
    font: inherit;
    border-bottom: 3px solid hsl(240, 1%, 35%);
    border-radius: .1rem;
}

.rsvp-title {
    text-transform: uppercase;
    margin: -2rem;

}

.btn-rsvp {
    background-color: #98673A;
    font-family: inherit;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    padding: .75rem 1.5rem;
    border-radius: .1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.subtitle,
.title {
    margin: 0;
    padding: .25rem;
    font-size: 1.5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MA-logo {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #98673A;
}

.date-logo {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.itinerary-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(auto, 500px));
}

.grid-img {
    width: 100%;
}

.grid-item, .grid-img {
    padding: 2rem;
}

.grid-item-1 {
    border-right: 1px dotted hsl(240, 1%, 35%);
}

.grid-item-2 {
    border-left: 1px dotted hsl(240, 1%, 35%);
}

.accom-grid {
    display: flex;
    justify-content: space-evenly;
}

.accom-grid-item {
    margin-top: 1rem;
    padding: 1rem;
    max-height: 350px;
    max-width: 350px;
}

.accom-grid-image {
    width: 100%;
    border: 1px solid hsl(240, 1%, 55%);
}

.check-in, .check-out {
    margin: 0;
}

.info.left-side {
    margin: 0;
    align-self: flex-start;
    margin-left: 32rem;
}


